#hero {
  height: 100vh;
  background-image: url(../assets/images/Background_Intro.png);
  background-size: cover;
}

#info {
  width: 1040px;
  margin: auto;
  text-align: center;
}

#hero header {
  display: flex;
  flex-direction: column;
  padding: 120px 163px 183px 163px;
  gap: 56px;
}

.perfil {
  position: relative;
  width: 112px;
  margin: auto;
}

.perfil img:nth-child(1) {
  border: solid 2px var(--primary-red);
  border-radius: 50%;
  padding: 5px;
}

.perfil img:nth-child(2) {
  position: absolute;
  bottom: 8px;
  right: 0px;
}

.subtitle {

  margin-bottom: 8px;
  span {
    color: var(--primary-red);
  }
}

.title-lg {
  color: var(--base-gray-100);
  margin-bottom: 20px;
}


#hardskills ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 16px;
  margin-bottom: 20px;
}

#hardskills ul li {
  background-color: var(--base-gray-400);
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--base-gray-200);
  padding: 8px 16px;
  border-radius: 100px;
}

#hardskills ul li .icon {
  display: inline-flex;
  width: 24px;
  height: 24px;
  background-color: currentColor;
}

#hardskills ul li .icon-github {
  mask: url("../assets/icons/GitHub.svg") no-repeat center / contain;
  -webkit-mask: url("../assets/icons/GitHub.svg") no-repeat center / contain;
}

#hardskills ul li .icon-html {
  mask: url("../assets/icons/HTML.svg") no-repeat center / contain;
  -webkit-mask: url("../assets/icons/HTML.svg") no-repeat center / contain;
}

#hardskills ul li .icon-css {
  mask: url("../assets/icons/CSS.svg") no-repeat center / contain;
  -webkit-mask: url("../assets/icons/CSS.svg") no-repeat center / contain;
}

#hardskills ul li .icon-js {
  mask: url("../assets/icons/JavaScript.svg") no-repeat center / contain;
  -webkit-mask: url("../assets/icons/JavaScript.svg") no-repeat center / contain;
}

#hardskills ul li .icon-react {
  mask: url("../assets/icons/React.svg") no-repeat center / contain;
  -webkit-mask: url("../assets/icons/React.svg") no-repeat center / contain;
}

#hardskills ul li .icon-node {
  mask: url("../assets/icons/Node.js.svg") no-repeat center / contain;
  -webkit-mask: url("../assets/icons/Node.js.svg") no-repeat center / contain;
}

.down-arrow{
    background-image: url(../assets/icons/down-arrow.svg);
    background-repeat: no-repeat;
    margin: auto;
    height: 32px;
    width: 32px;
}

#projects{
  padding: 72px 120px 144px 120px;
  background-color: var(--base-gray-500);
}

.info-project{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 56px;
}

.card{
  width: 330px;
  height: 280px;
  padding: 17px 12px;
  background-color: var(--base-gray-400);
  border-radius: 12px;

  img{
    width: 306px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  h3{
    margin-bottom: 8px;
  }

}

.card:hover{
  border: 1px solid var(--base-gray-300);
  transition: 0.5s;
  cursor: pointer;
}

.cards-projetos{
  width: 1040px;
  margin: auto;
  row-gap: 24px;
}

#services{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--base-gray-600);
  padding-inline: 120px;
  padding-bottom: 120px;

  header{
    width: 355px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-block: 88px 56px;
  }

  .icons-services{
    display: grid;
    grid-auto-flow: column;
    width: 888px;
    gap: 24px;
  }

  .card-service{

    display: flex;
    flex-direction: column;
    width: 280px;
    border: 1px solid var(--base-gray-500);
    border-radius: 12px;
    padding: 20px;
    
    img{
      width: 48px;
      aspect-ratio: 1/1;
      object-fit: cover;
      margin-bottom: 20px;
    }

    .card-service-info{
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

  }
}

#contact{
  background-image: url(../assets/images/Background_Contacts.png);
  background-size: cover;
  padding-block: 128px 200px;

  header>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 48px;
  }

  .social-media{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .card-social{
    background-color: var(--base-gray-400);
    width: 400px;
    margin: auto;
    border-radius: 8px;
    padding: 20px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    gap: 12px;
    align-items: center;

    p{
      font-family: "Maven Pro", sans-serif;
      color: var(--base-gray-200);
    }
  }

  .card-social:hover{
    border: 1.5px solid var(--primary-blue);
  }
}



