.title-lg{
    font: var(--title-lg);
}

.title-md{
    font: var(--title-md);
}

.title-sm{
    font: var(--title-sm);
}

.subtitle{
    font: var(--subtitle);
}

.text-md{
    font: var(--text-md);
}

.text-sm{
    font: var(--text-sm);
}

.gray-100{
color: var(--base-gray-100);
}

.gray-200{
color: var(--base-gray-200);
}

.gray-300{
color: var(--base-gray-300);
}

.gray-400{
color: var(--base-gray-400);
}

.grid{
    display: grid;
}

.grid-col-3{
    grid-template-columns: 1fr 1fr 1fr;
}
.red{
    color: var(--primary-red);
}

.purple{
    color: var(--primary-purple);
}

.blue{
    color: var(--primary-blue);
}

.green{
    color: var(--primary-green);
}

.yellow{
    color: var(--primary-yellow);
}

